/* src/components/PersonForm.css */

.button {
    font-size: 11px; /* Decrease the text size */
    padding: 5px 15px; /* Decrease the button size */
    margin-bottom: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.person-form-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form elements */
}

.person-form-container label {
    font-size: 16px; /* Label text size */
    color: #333; /* Label text color */
}

.person-form-container input,
.person-form-container select,
.person-form-container textarea {
    padding: 12px; /* Space inside form elements */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #ccc; /* Border color */
    font-size: 16px; /* Font size for input text */
    width: 100%; /* Full width of the parent container */
}

.person-form-container input:focus,
.person-form-container select:focus,
.person-form-container textarea:focus {
    border-color: #ad0f17; /* Blue border on focus */
    outline: none; /* Remove default focus outline */
}

.person-form-container .form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.person-form-container .form-group:last-child {
    margin-bottom: 0; /* No space for the last form group */
}

.person-form-container .form-group label {
    margin-bottom: 5px; /* Space between label and input */
}

.person-form-container .form-group input,
.person-form-container .form-group select,
.person-form-container .form-group textarea {
    height: 40px; /* Consistent height for form fields */
    box-sizing: border-box; /* Include padding and border in the height */
}

.error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 14px; /* Font size for error messages */
}








